.availabilities {
  width: 95%;
  background: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-height: 650px;
}

.list_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-height: 750px;
  overflow-y: auto;
  width: 100%;
  min-height: 200px;
}

.loader_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
