.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.select {
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.select:not(.multiple) {
  height: 34px;
}

.select.multiple {
  height: auto;
  min-height: 180px;
}
