.button {
  min-width: 65px;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #1e90ff;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.75rem;
  box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: #1e90ff;
  color: #fff;
  border: 1px solid #1e90ff;
}

.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  filter: grayscale(90%);
  pointer-events: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.select,
.textarea,
.input {
  width: 300px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  width: calc(95% - 2rem);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
