.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: calc(95% - 2rem);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.patient_wrapper {
  display: flex;
  align-items: flex-start;
}

.separator {
  margin: 0 1rem;
  align-self: center;
}

.add_patient_label {
  display: flex;
}

.booking_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}